{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="filter__pel">
        <div class="title__pel">
            <p>ПЕЛЬМЕНИ</p>
        </div>
        <nav class="filter">
            <ul>
                <li data-f="ALL">
                    <a href="{% url 'restasite:pelmeni' %}"><b>Все виды</b></a>
                </li>
                <li data-f="CHI" class="text_CHI">
                    <a href="{% url 'restasite:pelmeni' category='CHI' %}">Куриные </a>
                </li>
                <li data-f="BEF" class="text_BEF">
                   <a  href="{% url 'restasite:pelmeni' category='BEF' %}">Говяжьи </a>
                </li>
                <li data-f="VEG" class="text_VEG">
                    <a href="{% url 'restasite:pelmeni' category='VEG' %}">Веганские </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main_catalog">
        <div class="catalog_pelmenei">
            {% for item in menu %}
                <div class="box {{ item.type }}">
                    <div class="card__img_pel">
                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    </div>
                    <div class="card__name text_CHI">{{ item.title }}</div>
                    <div class="card__text">{{ item.description }}</div>
                    <div class="card__button">
                        <div class="button">
                            <div class="button_text">В КОРЗИНУ</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
