{% extends 'main.html' %}
{% block title %}<title>Пельменная</title>{% endblock %}
{% load static %}
{% block content %}
<div class="catalog">
    <p class="catalog__title">ПЕЛЬМЕННЫЕ</p>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A18ecf8a6a9c643c32e920a1f6c74da7f6791eb5610f89854aabb6d080366d916&amp;width=800&amp;height=470&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="place">
        <div class="card__name">
            ПЕЛЬМЕННЫЙ БУТИК
        </div>
        <div class="card__text">
            Москва, Столешников пер., д. 9, стр. 1<br>
            пн-вс 10:00 — 23:00<br>
            +7 (969) 347-35-24<br>
        </div>
    </div>
    <div class="place">
        <div class="card__name">
            ПЕЛЬМЕННЫЙ БУТИК
        </div>
        <div class="card__text">
            Москва, Столешников пер., д. 9, стр. 1<br>
            пн-вс 10:00 — 23:00<br>
            +7 (969) 347-35-24<br>
        </div>
    </div>
    <div class="place">
        <div class="card__name">
            ПЕЛЬМЕННЫЙ БУТИК
        </div>
        <div class="card__text">
            Москва, Столешников пер., д. 9, стр. 1<br>
            пн-вс 10:00 — 23:00<br>
            +7 (969) 347-35-24<br>
        </div>
    </div>
    <div class="place">
        <div class="card__name">
            ПЕЛЬМЕННЫЙ БУТИК
        </div>
        <div class="card__text">
            Москва, Столешников пер., д. 9, стр. 1<br>
            пн-вс 10:00 — 23:00<br>
            +7 (969) 347-35-24<br>
        </div>
    </div>
    <div class="place">
        <div class="card__name">
            ПЕЛЬМЕННЫЙ БУТИК
        </div>
        <div class="card__text">
            Москва, Столешников пер., д. 9, стр. 1<br>
            пн-вс 10:00 — 23:00<br>
            +7 (969) 347-35-24<br>
        </div>
    </div>
</div>
{% endblock %}